@model InventoryMVC.Models.SupplierData

@{
    ViewData["Title"] = "Create";
}

<h4>Create SupplierData</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="supplierName" class="control-label"></label>
                <input asp-for="supplierName" class="form-control" />
                <span asp-validation-for="supplierName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="supplierBulstat" class="control-label"></label>
                <input asp-for="supplierBulstat" class="form-control" />
                <span asp-validation-for="supplierBulstat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="supplierAddress" class="control-label"></label>
                <input asp-for="supplierAddress" class="form-control" />
                <span asp-validation-for="supplierAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="supplierEmail" class="control-label"></label>
                <input asp-for="supplierEmail" class="form-control" />
                <span asp-validation-for="supplierEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="supplierPhone" class="control-label"></label>
                <input asp-for="supplierPhone" class="form-control" />
                <span asp-validation-for="supplierPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
