@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Inventory Systems</h1><br />
    <h5><a href="https://localhost:7089/Product">Take a look about the product details</a></h5>
